<h1>Motos</h1>

<div class="row">
  <div class="col-lg-6 col-sm-8">
    <% @motos.each do |moto| %>
      <div class="card-moto mt-3">
        <% if moto.photo.attached? %>
          <%= cl_image_tag moto.photo.key %>
        <% else %>
          <p>No pic!</p>
        <% end %>
    <div class="card-moto-infos d-flex flex-grow-1 justify-content-between">
      <div>
        <h2><%= link_to moto.brand, moto_path(moto) %></h2>
        <p><%= moto.model %></p>
      </div>
      <div>
        <h2 class="mb-2"><%= moto.address %></h2>
        <h2 class="price"><%= moto.price_per_day %>€</h2>
        <%= link_to "Delete", moto_path(moto),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </div>
    </div>
      </div>
    <% end %>
    <%= link_to "Rent my Motorcycle", new_moto_path, class:"btn btn-primary " %>
  </div>
</div>



