<%= render 'shared/banner' %>
  <div class="show-container">
<h1>Find your Favourite Motorcycle</h1>

<div class="d-flex">
  <div class="row">
    <div class="col-lg-10 col-sm-8">
      <% @motos.each do |moto| %>
      <%= link_to moto_path(moto) do %>
        <div class="card-moto mt-3">
          <% if moto.photo.attached? %>
            <%= cl_image_tag moto.photo.key %>
          <% else %>
            <p>No pic!</p>
          <% end %>
          <div class="card-moto-infos d-flex flex-grow-1 justify-content-between">
            <div>
              <h2 ><%= moto.brand %></h2>
              <h2 ><%= moto.model %></h2>
            </div>
            <div class="price">
              <h2 ><%= moto.address %></h2>
              <h2 ><%= moto.price_per_day %>€</h2>
            </div>
      </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>

    <div id="map" class="col-lg-6"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
