<div class="container" style="background-color: blue;">

  <div style="background-color: #c1c1c1; width: 100vw;">
     <h1><%= @moto.brand%> <%= @moto.model%></h1>
  </div>

  <div style="background-color: #a3a3a3; display: grid; grid-template-columns: 1fr 1fr 1fr;">

     <div style="background-color: red; width: 33.3vw;">
        <% if @moto.photo.attached? %>
          <%= cl_image_tag @moto.photo.key, crop: :fill, class: "show-photo" %>
        <% else %>
          <p>No pic!</p>
        <% end %>
        <div style="background-color: #bbb;">
          <div style="background-color: blue;">
            <p><%= @moto.description%></p>
          </div>
          <div style="background-color: red;">
            <p class="price-tag" data-price="<%= @moto.price_per_day %>"><%= @moto.price_per_day%> €/day</p>
          </div>
        </div>

        <%= link_to "Back to available Motos", motos_path %>
      </div>

      <div style="background-color: red; width: 33.3vw;">
        <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div style="background-color: blue; width: 33.3vw;">
        <%= render 'rents/new' %>
      </div>

  </div>
</div>

<!-- style="width: 400px; height: 300px;" -->

