<div class="show-container">

  <div class="row justify-content-between mt-3">

          <div class="col">
              <p class="brand-tag"><%= @moto.brand%> <%= @moto.model%></p>
              <p class="price-tag"><%= @moto.price_per_day%> €/day</p>
            <% if @moto.photo.attached? %>
              <%= cl_image_tag @moto.photo.key, crop: :fill, class: "show-photo" %>
            <% else %>
              <p>No pic!</p>
            <% end %>
            <p class="mt-2"><%= @moto.description%></p>
            <%= link_to "Back to available Motos", motos_path, class: "btn btn-outline-primary" %>
          </div>

          <div class="col">
            <div id="map"
                style="width: 400px; height: 300px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>

    <div class="book-info col mt-3">

      <div class="profil">
        <h2>Book me</h2>
      </div>

      <div class="mx-auto">
        <div class="rent-form-container">
          <%= render 'rents/new' %>
        </div>
      </div>

    </div>
  </div>

</div>
