<div class="d-flex justify-content-between">
  <div>
    <div class=>
      <div class="d-flex">
        <div class="">
          <div class="brand">
            <h2><%= @moto.brand%> <%= @moto.model%></h2>
          </div>
          <div class="photo">
            <% if @moto.photo.attached? %>
          <%= cl_image_tag @moto.photo.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <p>No pic!</p>
        <% end %>
          </div>
        </div>
        <div class="map flex-grow-1">
          <h2>A map !!!!!!!!!!!</h2>
        </div>
      </div>
      <div class="description">
      <h2><%= @moto.description%></h2>
      </div>
    </div>

   </div>

  <div class="">
    <div class="profil">
      <h2>Renter Profil</h2>
    </div>
    <div class="mx-auto" style="width: 200px;">
      <%= link_to "Book Now !", new_moto_rent_path(@moto), class:"btn btn-primary "  %>
    </div>
  </div>

</div>


<%= link_to "Back to all Motos", motos_path %>
