<div class="show-container">
<div class="d-flex justify-content-between">
  <div>
    <div>
      <div class="d-flex mt-3">
        <div class="">
          <div class="brand">
            <h2><%= @moto.brand%> <%= @moto.model%></h2>
          </div>
          <div class="photo">
            <% if @moto.photo.attached? %>
          <%= cl_image_tag @moto.photo.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <p>No pic!</p>
        <% end %>
          </div>
        </div>
        <div class="map flex-grow-1 ml-2">
          <h2>A wonderfull map ! Here you can see where the motorcycle is located! Thx Geocoding 🌎!
          BTW, thx Philippine for the lesson !</h2>
        </div>
      </div>
      <div class="description">
      <h2><%= @moto.description%></h2>
      </div>
    </div>

   </div>

  <div class="book-info mt-3 ml-1">
    <div class="profil m-3 text-center">
      <h2>Renter Profil</h2>
    </div>
    <div class="mx-auto text-center" style="width: 200px;">
      <%= link_to "Book Now !", new_moto_rent_path(@moto), class:"btn btn-primary m-3 "  %>
    </div>
  </div>

</div>
</div>


<%= link_to "Back to available Motos", motos_path %>
